@font-face {
	font-family: garet;
	src: url("./fonts/Garet-Book.ttf");
} 
@font-face {
	font-family: garet;
	src: url("./fonts/Garet-Heavy.ttf");
	font-weight: bold;
} 
@font-face {
	font-family: geosans;
	src: url("./fonts/GeosansLight.ttf");
} 
@font-face {
	font-family: geosans;
	src: url("./fonts/GeosansLight-Oblique.ttf");
	font-style: oblique;
}
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Regular.ttf");
} 
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Bold.ttf");
	font-weight: bold;
}
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Light.ttf");
	font-weight: lighter;
} 
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Italic.ttf");
	font-style: italic;
}
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Bold_Italic.ttf");
	font-weight: bold;
	font-style: italic;
} 
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Light_Italic.ttf");
	font-weight: lighter;
	font-style: italic;
}
@font-face {
	font-family: quicksand;
	src: url("./fonts/Quicksand_Book.otf");
}
@font-face {
	font-family: quicksand;
	src: url("./fonts/Quicksand_Bold.otf");
	font-weight: bold;
}
@font-face {
	font-family: quicksand;
	src: url("./fonts/Quicksand_Light.otf");
	font-weight: lighter;
}
@font-face {
	font-family: quicksand;
	src: url("./fonts/Quicksand_Book_Oblique.otf");
	font-style: oblique;
}
@font-face {
	font-family: quicksand;
	src: url("./fonts/Quicksand_Bols_Oblique.otf");
	font-weight: bold;
	font-style: oblique;
}
@font-face {
	font-family: quicksand-dash;
	src: url("./fonts/Quicksand_Dash.otf");
}

*{
	margin: 0;
	padding: 0;
	font-family: garet;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	background: #baa797;
	color: #5b7555;
}

.heading{
	padding-top: 30px;
	padding-bottom: 50px;
	padding-left: 25px;
	font-size: 40px;
}

.container{
	padding-left: 50px;
	font-size: 20px;
}
