/* fonts */
/* Geosans Light = body text */
@font-face {
	font-family: geosans;
	src: url("./fonts/GeosansLight.ttf");
}
/* Garet = header text*/
@font-face {
	font-family: garet;
	src: url("./fonts/Garet-Book.ttf");
} 
@font-face {
	font-family: garet;
	src: url("./fonts/Garet-Heavy.ttf");
	font-weight: bold;
} 
/* Sansation = label text*/ 
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Regular.ttf");
} 
@font-face {
	font-family: sansation;
	src: url("./fonts/Sansation_Bold.ttf");
	font-weight: bold;
}

/* general */

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: geosans;
	background: #abba97;
	color: #5b7555;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

/* nav bar */

nav{
	font-family: sansation;
	font-weight: bold;
	padding: 15px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
nav ul li{
	display: inline-block;
	list-style-type: none;
	margin: 10px 10px;
	transition: 0.8s;
}
nav ul li:hover{
	transform: scale(1.3);
}
nav ul li a{
	color: #86a17b;
	text-decoration: none;
	font-size: 36px;
	position: relative;
	transition: 0.5s;
}
.activenav{
	color: #61885a;
}

/* nav bar line effect */
nav ul li a::after{
	content: '';
	width: 0;
	height: 3px;
	background: #7f9581;
	position: absolute;
	left: 0;
	bottom: 3px;
	transition: 0.5s;
}
nav ul li a:hover::after{
	/* creates line when hovered */
	width: 90%;
}
.activenav:hover::after{
	/* activenav does not have line effect */
	width: 0%; 
}

/* nav bar text effect */
nav ul li a::before{
	font-size: 0;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: -20px;
	transition: 0.5s;
}
nav ul li a:hover::before{	
	/* creates text effect when hovered */
	font-size: 14px;
}
.home::before{
	content: 'Home';
}
.page1::before{
	content: 'Page1';
}
.page2::before{
	content: 'Page2';
}
.page3::before{
	content: 'Page3';
}
.page4::before{
	content: 'Page4';
}
.about::before{
	content: 'About';
}
.activenav:hover::before{
	/* activenav does not have text effect */
	font-size: 0;
}

/* header */

.header{
	font-family: garet;
	padding-top: 15px;
	padding-left: 50px;
	margin-top: 20px;
	font-size: 30px;
}
.header h3{
	font-size: 20px;
	transition: 0.8s;
}
.header h1{
	font-size: 36px;
	margin-top: 20px;
}
.header h1 span{
	color: #738164;
	transition: 0.5s;
}
.header:hover h3{
	color: #6f875f;
}
.header:hover h1 span{
	font-size: 48px;
	margin: 0 10px;
}

/* sections */

.section{
	padding: 50px;
}
.section h2{
	font-size: 28px;
	transition: 0.8s;
}
.section h2 .feather{
	transition: transform 0.8s, margin-right 0.3s;
}
.section h2:hover{
	font-size: 32px;
}
.section h2:hover .feather{
	transform: scale(1.5);
	margin-right: 10px;
}

/* boxed sections */

.bx-section{
	margin: 30px;
	padding: 10px;
	border-radius: 20px;
	background-color: #b6c4a4;
	transition: 0.5s;
	justify-content: center;
}
.bx-section:hover{
	transform: scale(1.02);
	background-color: #cdddbd;
}
.bx-section h2{
	margin-top: 15px;
	margin-left: 10px;
	font-size: 28px;
	transition: 0.8s;
}
.bx-section h2 .feather{
	transition: transform 0.8s, margin-right 0.3s;
}
.bx-section h2:hover{
	font-size: 32px;
}
.bx-section h2:hover .feather{
	transform: scale(1.5);
	margin-right: 10px;
}

/* center */

.center{
	text-align: center;
}

/* images */

.picture{
	position: relative;
	color: #cdd8be;
	transition: 0.5s;
}
.image{
	width: 100%;
	filter: brightness(50%);
	border-radius: 25px;
	transition: 0.5s;
}
.imagetxt{
	font-family: 'garet';
	position: absolute;
	transition: 0.75s;
	top: 50%;
	left: 50%;
	text-align: center;
}
.imagetxt h3{
	transform: translate(-50%, -50%);
	font-size: 45px;
	transition: 0.75s;
}
.imagetxt p{
	transform: translate(-50%, -30%);
	font-size: 20px;
	transition: 0.75s;
}
/* pop */
.imagetxt.pop h3{
	font-size: 0;
}
.imagetxt.pop p{
	font-size: 0;
}
.imagetxt.pop.reverse h3{
	font-size: 45px;
}
.imagetxt.pop.reverse p{
	font-size: 20px;
}
/* fade */
.imagetxt.fade h3{
	filter: opacity(0);
}
.imagetxt.fade p{
	filter: opacity(0);
}
.imagetxt.fade.reverse h3{
	filter: opacity(100%);
}
.imagetxt.fade.reverse p{
	filter: opacity(100%);
}
/* swipe */
.imagetxt.swipe.reverse h3{
	transform: translate(-150%, -50%);
	text-align: left;
}
.imagetxt.swipe.reverse p{
	transform: translate(50%, -30%);
	text-align: right;
}
/* HOVER */
.picture:hover{
	padding-left: 0;
	padding-right: 0;
}
.picture:hover .image{
	border-radius: 0;
	filter: brightness(70%);
}
/* slide */
.picture:hover .slide.right{
	left: 75%;
	text-align: right;
}
.picture:hover .slide.left{
	left: 25%;
	text-align: left;
}
/* pop */
.picture:hover .imagetxt.pop h3{
	font-size: 45px;
}
.picture:hover .imagetxt.pop p{
	font-size: 20px;
}
.picture:hover .imagetxt.pop.reverse h3{
	font-size: 0;
}
.picture:hover .imagetxt.pop.reverse p{
	font-size: 0;
}
/* fade */
.picture:hover .imagetxt.fade h3{
	filter: opacity(100%);
}
.picture:hover .imagetxt.fade p{
	filter: opacity(100%);
}
.picture:hover .imagetxt.fade.reverse h3{
	filter: opacity(0);
}
.picture:hover .imagetxt.fade.reverse p{
	filter: opacity(0);
}
/* swipe */
.picture:hover .imagetxt.swipe h3{
	transform: translate(-150%, -50%);
	text-align: left;
}
.picture:hover .imagetxt.swipe p{
	transform: translate(50%, -30%);
	text-align: right;
}
.picture:hover .imagetxt.swipe.reverse h3{
	transform: translate(-50%, -50%);
	text-align: center;
}
.picture:hover .imagetxt.swipe.reverse p{
	transform: translate(-50%, -30%);
	text-align: center;
}
/* fly */
.picture:hover .imagetxt.fly h3{
	transform: translate(-50%, -300%);
}
.picture:hover .imagetxt.fly p{
	transform: translate(-50%, 220%);
}
.picture:hover .imagetxt.fly.reverse h3{
	transform: translate(-50%, 220%);
}
.picture:hover .imagetxt.fly.reverse p{
	transform: translate(-50%, 180%);
}
/* plato */
.picture:hover .imagetxt.plato.left{
	left: 25%;
	text-align: left;
}
.picture:hover .imagetxt.plato.right{
	left: 60%;
	text-align: right;
}
/* left top */
.picture:hover .imagetxt.plato.left.top h3{
	transform: translate(-50%, -250%);
}
.picture:hover .imagetxt.plato.left.top p{
	transform: translate(-50%, -600%);
}
/* right top */
.picture:hover .imagetxt.plato.right.top h3{
	transform: translate(-50%, -250%);
}
.picture:hover .imagetxt.plato.right.top p{
	transform: translate(-50%, -600%);
}
/* left bottom */
.picture:hover .imagetxt.plato.left.bottom h3{
	transform: translate(-50%, 150%);
}
.picture:hover .imagetxt.plato.left.bottom p{
	transform: translate(-50%, 300%);
}
/* right bottom */
.picture:hover .imagetxt.plato.right.bottom h3{
	transform: translate(-50%, 150%);
}
.picture:hover .imagetxt.plato.right.bottom p{
	transform: translate(-50%, 300%);
}

/* multipicture */

.multipicture{
	padding-left: 0;
	padding-right: 0;
}
.multipicture .slide1{
	transform: translate(-50%, 0);
	width: 100%;
	transition: 0.5s;
	filter: brightness(30%);
	position: absolute;
	z-index: 0;
}
.multipicture .slide2{
	transform: translate(50%, 0);
	width: 100%;
	transition: 0.5s;
	filter: brightness(30%);
	z-index: 0;
}
.multipicture .slide1:hover{
	transform: translate(0, 0);
	left: 0;
	border-radius: 0;
	filter: brightness(85%);
	z-index: 3;
}
.multipicture .slide2:hover{
	transform: translate(0, 0);
	left: -100%;
	border-radius: 0;
	filter: brightness(85%);
	z-index: 3;
}

/* words */

.words{
	align-items: center;
}
.words .word{
	font-size: 50px;
	font-family: 'sansation';
	transform: translate(0, 0);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.words .word.right{
	transition: 0.6s;
}
.words .word.left{
	transition: 0.8s;
}
.words .word.w1 h3{
	transition: 0.6s;
}
.words .word.w2 h3{
	transition: 0.8s;
}
.words .word.w3 h3{
	transition: 1.0s;
}
.words .word.w4 h3{
	transition: 2.0s;
}
.words .word.w5 h3{
	transition: 1.0s;
}
.words .word.w6 h3{
	transition: 1.5s;
}
.words .word.w7 h3{
	transition: 1.0s;
}
.words .word.w8 h3{
	transition: 3.0s;
}
.words .word.w9 h3{
	transition: 5s;
}
/* HOVER */
.words .right:hover{
	transform: translate(10%, 0);
}
.words .left:hover{
	transform: translate(-10%, 0);
}
.words .word:hover h3{
	font-size: 60px;
}
.words .word.w1:hover h3{
	color: #595e88;
	rotate: 30deg;
}
.words .word.w2:hover h3{
	color: #8f5a5a;
	rotate: 180deg;
	letter-spacing: 20px;
}
.words .word.w3:hover h3{
	color: #774a71;
	rotate: -1515deg;
	letter-spacing: 10px;
}
.words .word.w4:hover h3{
	color: #4b9185;
	rotate: -50deg;
	letter-spacing: 30px;
}
.words .word.w5:hover h3{
	color: #735a8f;
	rotate: 2222deg;
	letter-spacing: 25px;
}
.words .word.w6:hover h3{
	color: #a18d4a;
	rotate: -111deg;
	letter-spacing: 12px;
}
.words .word.w7:hover h3{
	color: #4b9185;
	rotate: -1234deg;
	letter-spacing: 15px;
}
.words .word.w8:hover h3{
	color: #735a8f;
	rotate: 123456deg;
	letter-spacing: 30px;
}
.words .word.w9:hover h3{
	color: #a18d4a;
	rotate: 88888888deg;
	letter-spacing: 50px;
}

/* floats (lists + tabs + cards)*/

.float{
	background-color: #b6c4a4;
	border-radius: 20px;
	color: #73846a;
	text-decoration: none;
	/* margin: 15px; */
	margin: 0.75%;
	padding: 20px;
	transition: 0.5s;
	flex-basis: 30%;
}
.float:hover{
	background-color: #cdddbd;
	transform: translateY(-20px);
	rotate: -1 -1 -1 5deg;
	margin-top: 25px;
	scale: 1.02;
	font-size: 20px;
}
.bx-section:hover .float{
	background-color: #d4e0c5;
}
.bx-section:hover .float:hover{
	background-color: #cdddbd;
}

/* txt */

.txt{
	padding: 15px;
	transition: 0.5s;
	text-decoration: none;
	color: #5b7555;
}
.txt:hover{
	transform: scale(1.05);
}

/* lists */

.lists{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
}
.list{
	flex-basis: 20%;
}
.list:hover{
	font-size: 16px;
}
.list h3{
	margin-bottom: 5px;	
}
.big-list{
	flex-basis: 42.25%;
}

/* tabs */

.tabs{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
}
.tab{
	flex-basis: 40%;
}
.tab p{
	margin-bottom: 15px;
}
.tab img{
	border-radius: 15px;
	filter: brightness(80%);
	transition: 0.5s;
	width: 600px;
	height: 400px;
}
.tab:hover img{
	border-radius: 15px;
	filter: brightness(100%);
}
.tab.float:hover{
	rotate: -1 -1 -1 2deg;
}

/* cards */

.cards{
	margin-top: 15px;
	display: flex;
	flex-wrap: wrap;
}
.card{
	flex-basis: 30%;
}

/* timeline */

.timeline{
	margin-top: 20px;
}
.point{
	margin: 15px;
	margin-bottom: 25px;
	transition: 0.5s;
}
.point .feather{
	display: inline-block;
	transition: 0.35s;
	transform: translateY(-5px);
	margin-right: 10px;
}
.point .ptext{
	display: inline-block;
}
.point:hover{
	transform: translateX(20px);
	scale: 1.02;
	font-size: 20px;
}
.point:hover .feather{
	margin-right: 15px;
	scale: 1.2;
}

/* icons */

.inline{
	display: inline-block;
}

.icons{
	margin-top: 15px;
}
.icons a{
	text-decoration: none;
	font-size: 48px;
	margin: 5px 10px;
	color: #7e9275;
	display: inline-block;
	transition: 0.5s;
}
.icons:hover a{
	transform: scale(1.2);
	margin: 5px 15px;
}
.icons a:hover{
	color: #6d8667;
	transform: translateY(-5px);
	scale: 1.5;
	margin: 5px 20px;
}

/* footer */

.footer{
	font-family: sansation;
	width: 100%;
	font-size: 20px;
	text-align: center;
	padding: 25px;
	background: #68755b;
	font-weight: 360;
	margin-top: 20px;
	color: #92ad8d;
	transition: 0.5s;
}
.footer .feather{
	color: #b6b590;
	transition: transform 0.5s, margin 0.5s, color 1.2s;
}
.footer:hover{
	font-size: 24px;
}
.footer:hover .feather{
	transform: scale(1.5);
	margin: 0 12px;
	color: #a1b474;
}
